In [1]:
6 + 16

22

In [2]:
print('Good Morning')

Good Morning

### Syntax Error

In [3]:
print('Hey)

SyntaxError: EOL while scanning string literal (<ipython-input-3-423bb72d295d>, line 1)

### Runtime Error

In [24]:
print(hello)

NameError: name 'hello' is not defined

#### Exercises

In [25]:
# write a program that wont run because of a syntax error
print(six * five')

SyntaxError: EOL while scanning string literal (<ipython-input-25-7c6094c6187c>, line 2)

In [26]:
# write a program that crashes only while it’s running because it has a runtime error”
print(primetime)

NameError: name 'primetime' is not defined

In [27]:
greeting = 'hey'
print(greeting)

hey

### Use descriptive names for variables

In [5]:
# seconds_per_hour > s or seconds

seconds_per_hour = 3600

#### Exercises

In [6]:
# display some text using print()

print('the king is here')

the king is here

In [7]:
# display a variable using print()
car = 'BMW'
print(car)

BMW

### Variable inspection

In [8]:
# displays string literal
car

'BMW'

In [9]:
# displays human readable representation of the variable
print(car)

BMW

### String & String Methods

In [10]:
type('hey')

str

In [11]:
phrase = 'Wassup Doc'
type(phrase)

str

#### String Literals

Strings created using quotation marks are known as string literals.

In [12]:
string1 = 'Hey ma'
string1

'Hey ma'

#### Escape character

In [13]:
# print("She said, "Take the shot") error
print("She said, \"Take the shot") # fixes theerror by escaping the character
print('He said, "Shoot the shot"')

She said, "Take the shot
He said, "Shoot the shot"

#### Len Function

In [14]:
print(len('cavaliers'))
print(len(string1))

9
6

### Multiline Strings

In [15]:
paragraph = 'The planet has–or rather had–a problem, which was this: \
most of the people living on it were unhappy for pretty much \
all of the time.' 
print(paragraph)

The planet has–or rather had–a problem, which was this: most of the people living on it were unhappy for pretty much all of the time.

In [16]:
long_string = 'This line will be printed on \
one line.'
print(long_string)

This line will be printed on one line.

In [17]:
print("""An example of a
    string that spans across multiple lines
        and also preserves whitespace.""")

An example of a
    string that spans across multiple lines
        and also preserves whitespace.

#### Exercises

In [18]:
print('He said, "LeBron is the best."') # print a string that uses double quotes
print('What\'s her address') # print a string that uses an apostrophe
print("""This 
    line 
        spans multiple lines""") #print a string that spans multiple lines and preserves whitespace
print(' My favorite \
meal to eat is \
Oxtail with rice and peas') # print a multiline string that gets printed on a single line

He said, "LeBron is the best."
What's her address
This
    line
        spans multiple lines
 My favorite meal to eat is Oxtail with rice and peas

### String Concatenation

In [19]:
string1 = 'Basket'
string2 = 'ball'
print(string1 + string2)

string3 = 'Apple Macbook'
string4 = 'Pro'
print(string3 + ' ' + string4)

Basketball
Apple Macbook Pro

### String Indexing 
Indexing starts at 0

In [20]:
meal = 'Oxtail and rice and peas'
meal[0] # returns the first character
meal[-1] # returns the last character

's'

### String Slicing

In [21]:
first_four_letters = meal[:4] # returns characters between index 0 & 4 does not include index 4
print(first_four_letters)

print(meal[4:]) # returns all characters from 4th index to the end of the string 

print(meal[:]) # returns all characters

print(meal[26:]) # slicing out of bound returns an empty string

Oxta
il and rice and peas
Oxtail and rice and peas

### Strings are Immutable

In [22]:
word = 'mace'
word[0] = 'f'

TypeError: 'str' object does not support item assignment

In [ ]:
word = 'f' + word[1:]
print(word)

#### Exercises

In [ ]:
print(len('library')) # print the length of a str using len()

string1 = 'Mac'
string2 = 'book'
print(string1 + string2) # create two strings, concatenate them and print the result

f_name = 'Kyrie'
l_name = 'Iriving'

print(f_name + ' ' + l_name)

word = 'bazinga'
print(word[2:])

### String Methods

In [30]:
print('library'.upper())
print('library'.lower())
print('library'.capitalize())


word2 = '  population' 
other_word = 'ace  '
my_word = ' space  '
print(word2.lstrip())
print(other_word.rstrip())
print(my_word.strip())


word3 = 'floss'
print(word3.startswith('fl'))
print(word3.startswith('ace'))

print(word3.endswith('ss'))
print(word3.endswith('ion'))

LIBRARY
library
Library
population
ace
space
True
False
True
False

In [31]:
str1 = 'Animals' # convert the listed str to lower case
str2 = 'Badger'
str3 = 'Honey Bee'
str4 = 'Honey Badger'

print(str1.lower())
print(str2.lower())
print(str3.lower())
print(str4.lower())

print(str1.upper()) # convert to upper 
print(str2.upper())
print(str3.upper())
print(str4.upper())

meat = '   Filet Mignon' # remove the whitespace
meat2 = 'Brisket  '
meat3 = '  Cheeseburger  '

print(meat.lstrip())
print(meat2.rstrip())
print(meat3.strip())


text = 'Becomes'
text2 = 'becomes'
text3 = 'BEAR'
text4 = ' bEautiful'

print(text.startswith('be')) # print the result of startwith() on the listed strings
print(text2.startswith('be'))
print(text3.startswith('be'))
print(text4.startswith('be'))

print(text.lower().startswith('be')) # modify so that the results are all True 
print(text2.startswith('be'))
print(text3.lower().startswith('be'))
print(text4.strip().lower().startswith('be'))

animals
badger
honey bee
honey badger
ANIMALS
BADGER
HONEY BEE
HONEY BADGER
Filet Mignon
Brisket
Cheeseburger
False
True
False
False
True
True
True
True

### User Input

In [32]:
prompt = "Hey, what's up ?"
user_input = input(prompt)
print('You said: ' + user_input)

Hey, what's up ?Working through a Python book
You said: Working through a Python book

In [33]:
response = input('What should I shout? ')
shouted_response = response.upper()
print('Well, if you insist...' + shouted_response)

What should I shout? Lakers are going back to back
Well, if you insist...LAKERS ARE GOING BACK TO BACK

#### Exercises

In [44]:
question = input('Ask me a question. ') 
print(question) # write a program that takes input from the user and displays the text, 
print(question.lower()) # displays the text in lower case
print(len(question)) # displays the length

Ask me a question. How far is the moon from Earth?
How far is the moon from Earth?
how far is the moon from earth?
31

In [43]:
my_input = input('Tell me your password: ') 
first_letter = my_input[0].upper()
print('The first letter you was: ' + first_letter)

Tell me your password: swordfish
The first letter you was: S

### Working with Strings and Numbers

In [45]:
number = 23
number + number

46

In [46]:
number = '24'
number * 4

'24242424'

#### TypeError

In [47]:
number * '3'

TypeError: can't multiply sequence by non-int of type 'str'

#### String Conversion to Numbers

In [48]:
num = input('Enter a number to be tripled: ')
tripled_num = int(num) * 3
print(tripled_num)

Enter a number to be tripled: 9
27

#### Number conversion to String

In [55]:
num_of_grapes = 12
'I am going to eat ' + str(num_of_grapes) + ' grapes.'

'I am going to eat 12 grapes.'

In [58]:
grapes_left = 20

'I have ' + str(grapes_left - num_of_grapes) + ' grapes left.'

'I have 8 grapes left.'

#### Exercises

In [83]:
my_num = '30'
print(int(my_num) * 30) # convert the string to an int and verify that you can multiply it

900

In [84]:
pi = '3.14'
print(float(pi) * 7) # convert the string to a float and verify that you can multiply it

21.98

In [85]:
weight = 'lbs' # create a string object and int object and display them side by side using print
pounds = 200
print(str(pounds) + weight)

200lbs

In [89]:
first_num = input('Pick a number: ')
second_num = input('Pick another number: ')
product = float(first_num) * float(second_num)

print('The product of ' + str(first_num) + ' and ' + str(second_num) + ' is ' + str(product) + '.')

Pick a number: 2
Pick another number: 4
The product of 2 and 4 is 8.0.

### Streamline your Print Statements

In [101]:
name = 'Eddy'
heads = 2
arms = 3

print(name + ' has ' + str(heads) + ' heads and ' + str(arms) + ' arms.')

print(f'{name} has {heads} heads and {arms} arms') # f-strings are simpler to write

a = 3
b = 5

print(f'{a} times {b} is {a * b}')

"{} has {} heads and {} arms".format(name, heads, arms)

Eddy has 2 heads and 3 arms.
Eddy has 2 heads and 3 arms
3 times 5 is 15

'Eddy has 2 heads and 3 arms'

#### Exercises

In [115]:
weight = 0.2
animal = 'newt'
print(str(weight) + ' kg is the weight of the ' + animal + '.') # string concatenation

0.2 kg is the weight of the newt.

In [114]:
print('{} kg is the weight of the {}.'.format(weight, animal)) # format()

0.2 kg is the weight of the newt.

In [113]:
print(f'{weight} is the weight of the {animal}.') # f-string

0.2 is the weight of the newt.

### Find a String in a String

In [117]:
phrase = 'The final countdown'
print(phrase.find('final'))
print(phrase.find('age')) # returns -1 when the desired substring isn't found
print(phrase.find('AGE')) # returns -1 because matching is case sensitive

4
-1
-1

### Replacing strings with replace method

In [127]:
my_story = "I'm telling you lies, nothing but lies."
print(my_story.replace('lies', 'the truth'))

text = 'Can I live?'
new_text = text.replace('live', 'sing')
print(new_text)

I'm telling you the truth, nothing but the truth.
Can I sing?

#### Exercises

In [130]:
print('AAA'.find('a')) 

print('Somebody said something to Samantha'.replace('s', 'x'))

my_input = input('Say something: ')
print(my_input.find('s'))

-1
Somebody xaid xomething to Samantha
Say something: something
0

In [133]:
translate = input('Enter some text: ')

translation = translate.replace('a', '4')
translation = translation.replace('b', '8')
translation = translation.replace('e', '3')
translation = translation.replace('l', '1')
translation = translation.replace('o', '0')
translation = translation.replace('s', '5')
translation = translation.replace('t', '7')

print(translation)

Enter some text: I like to eat bread and eggs
I 1ik3 70 347 8r34d 4nd 3gg5

### Integers

In [134]:
type(29)

int

In [135]:
num = '24'
int(num)

24

In [136]:
print(200000000)
print(200_000_000)

200000000
200000000

### Floats

In [137]:
type(4.5)

float

In [138]:
float('23')

23.0

In [144]:
print(1002.)
print(2_000.)
print(25e3)
print(4e+12)
print(6e-3)

1002.0
2000.0
25000.0
4000000000000.0
0.006

#### Exercises

In [165]:
num1 = 25_000_000 # print 25 million with & without underscores 
num2 = 25000000

print(num1) 
print(num2)      

num = 175e+3 # print 175000.0 using e notation
print(num)

2e308 # find the smallest exponent N for 2e<N> that returns inf

25000000
25000000
175000.0

inf

In [166]:
9 + 8

17

In [167]:
3. + 17

20.0

In [168]:
9 - 7

2

In [171]:
print(4.5 - 2)  # most PEP compliant
print(2 --3)
print(7- -4)
print(9--9)

2.5
5
11
18

In [173]:
print(8 * 7)
print(6.5 * 5)

56
32.5

In [180]:
print(8 / 4)
print(8 // 4)
print(-9 // 2) # 9 is divided by 2 then 4.5 is rounded up to 5

2.0
2
-5

In [189]:
print(7 ** 3)
print(6 ** 4)
print(4.3 ** 2)
print(5 ** -2)
print(10 ** -2)

343
1296
18.49
0.04
0.01

In [203]:
print(9 % 5)
print(16 % 7)
print(19 % 4)
print(6 % -2)

4
2
3
0

In [205]:
print(2 * 3 - 1)
print(4 / 2 + 2 ** 3)
print(-3 + (-5 * 2 + 6))

5
10.0
-7

In [213]:
base = input('Enter a base: ')
exponent = input('Enter an exponent: ')
result = int(base) ** int(exponent)
f'{base} to the power of {exponent} = {result}'

Enter a base: 9
Enter an exponent: 3

'9  to the power of 3 = 729'

### Floating-point representation error

In [220]:
.1 + .2

0.30000000000000004

### Math Functions and Number Methods

In [228]:
print(round(63.5)) # for rounding numbers to some number of decimal places
print(abs(4.5)) # for getting the absolute value of a number
print(pow(2, 4)) # for raising a number to some power

64
4.5
16

In [231]:
print(round(3.3))
print(round(5.5))
print(round(8.5)) # if the number to the left is even you round down if its odd you round up

3
6
8

In [233]:
print(round(3.356, 2))
print(round(6.78, 1))

3.36
6.8

In [234]:
print(abs(6.23))
print(abs(9.89))
print(abs(-7)) # always returns a positive number

6.23
9.89
7

In [237]:
print(pow(5, 4))
print(pow(2, -4))
print(pow(5, 4, 2)) # x ** y % z – 5 ** 4 % 2

625
0.0625
1

In [238]:
num = 6.7
print(num.is_integer())

num = 2.
print(num.is_integer()) # returns True if number has no fractional part

False
True

#### Exercises

In [240]:
my_num = input('Enter a number: ')
rounded = round(float(my_num), 2)
f'{my_num} rounded to 2 decimal places is {rounded}'

Enter a number: 6.789

'6.789 rounded to 2 decimal places is 6.79'

In [241]:
my_other_num = input('Enter a number: ')
my_abs_num = abs(int(my_other_num))

f'The absolute value of {my_other_num} is {my_abs_num}'

Enter a number: -99

'The absolute value of -99 is 99'

In [265]:
my_number = float(input('Enter a number: '))
another_num = float(input('Enter another number: '))

print(f'Is the difference between {my_number} and {another_num} an integer?')
f'{(my_number - another_num).is_integer()}!'

Enter a number: 10.
Enter another number: 3.
Is the difference between 10.0 and 3.0 an integer?

'True!'

#### Formatting in Style

In [278]:
n = 3.1415626
print(f'The value of pi is {n:.2f}') # : colon indicates the formatting specification, 2 rounds the number to two decimal places and the f tells python to display n a fixed-point number

m = 7.5647
print(f'{m:.3f}')

o = 1000000000
print(f"He's worth {o:,} dollars") # allows comma insertion  

p = 3456.23
f'{p:,.2f}' # rounds and also groups the int by thousands

The value of pi is 3.14
7.565

'3,456.23'

In [283]:
balance = 10000
spent = 5456
remaining = balance - spent

f'After spending ${spent:.2f}, I was left with ${remaining:,.2f}.'

'After spending $5456.00, I was left with $4,544.00.'

In [288]:
three_point_percentage = .4
f'Shooting {three_point_percentage:.1%} or above makes you an awesome 3 point shooter in the NBA.' # Used to display percentages

'Shooting 40.0% or above makes you an awesome 3 point shooter in the NBA.'

#### Exercises

In [289]:
result = 3 ** .125
f'{result:.2f} is the result of the calculation.'

'1.15 is the result of the calculation'

In [294]:
salary = 150000
f'He makes ${salary:,} per year.'

'He makes $150,000 per year.'

In [307]:
percentage = 2 / 10
f'{percentage:.0%} is the result of the calculation.'

'20% is the result of the calculation.'